<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
  <script src="https://unpkg.com/htmx.org"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
  <script src="https://unpkg.com/handlebars@latest"></script>
<script>
Handlebars.registerPartial('blocks', '<ul>{{#each items}}<li>ID: {{this}}</li>{{/each}}</ul>');
</script>
</head>
<body>
  <div hx-ext="client-side-templates">
    <button hx-get="/api/"
            hx-swap="innerHTML"
            hx-target="#content"
            handlebars-template="info">
      Click To Pull Information from Demo Plone Site
    </button>
    <button hx-get="/api"
            hx-swap="innerHTML"
            hx-target="#content"
            handlebars-template="blocks">
      Get some block information
    </button>



    <p id="content">Start</p>

    <template id="info">
      <p> The end point is:{{@id}}</p>
     <p>What is this?: A {{@type}}</p>
<p>And here's a quick description: {{description}}</p>
    </template>
    <template id="blocks">
{{#each blocks_layout.items}}
    <div class="block">
        <p>ID: {{this}}</p>
        <p>Type: {{lookup blocks this}}</p>
    </div>
{{/each}}
If the admin has set a portrait, it iwll show here
      <img src="/api/@portrait/admin" />
    </template>
  </div>
</body>
</html>
