<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
  <script src="https://unpkg.com/htmx.org"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
  <script src="https://unpkg.com/mustache@latest"></script>
</head>
<body>
  <div hx-ext="client-side-templates">
    <button hx-post="/api/@login">

    <button hx-get="/api/"
            hx-swap="innerHTML"
            hx-target="#content"
            mustache-template="info">
      Click To Pull Information from Demo Plone Site
    </button>
    <button hx-get=""
            hx-swap="innerHTML"
            hx-target="#content"
            mustache-template="portrait">
      Get the admin portrait (only works if there is one set on the demo site
    </button>



    <p id="content">Start</p>

    <template id="info">
      <p> The end point is:{{@id}}</p>
     <p>What is this?: A {{@type}}</p>
<p>And here's a quick description: {{description}}</p>
<p>
{{#@blocks}}
{{@type}}
{{/@blocks}}
</p>
    </template>
    <template id="portrait">
      <img src="/api/@portrait/admin" />
    </template>
  </div>
</body>
</html>
